* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.App {
	height: 100%;
	background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3) ), url('https://fsa.zobj.net/crop.php?r=5Hu_ob0TRBT6KOzCcxkbAwouY14Nh_56cvo6icwHgq3jJk9NWKT_f76F0KpNuxLFRSmex_NBtDR0UiA4P7geTEr_bCi085GOiGoqr9YiWUu5gpv7f9-0HUCYTofi5ezfwBUsPTi7leAK27LU');	
	background-repeat: no-repeat;
	margin: 0 auto;
	background-size: cover;
	height: 100%;
	
}

